<Project>
  <PropertyGroup>
    <!-- Copia este archivo a Paynest.Local.props y coloca tu backend local. -->
    <PaynestBaseUrl>http://192.168.X.X:5080</PaynestBaseUrl>
  </PropertyGroup>
</Project>
